body{
  background-color: white !important;
  margin: 0 auto;
}

p{
  text-align: center;
}


/****************Getting Started****************/

#gettingStarted {
  margin-top: 8% !important;
  height: 600px;
}

#gettingStarted h1 {
  font-size: 3em;
  color: rgba(37,99,171,1);
}

#gettingStarted p {
  text-align: left !important;
  font-size: 1.2em !important;
  line-height: 150%;
}

/****************Mission****************/

#mission {
  margin-top: 8% !important;
}

#mission h1 {
  font-size: 3em;
  color: rgba(37,99,171,1);
}

#mission p {
  text-align: left !important;
  font-size: 1.2em !important;
  line-height: 150%;
}

/****************Cust. Val.****************/
#customer {
  margin-top: 8% !important;
}

#customer h1 {
  font-size: 3em;
  color: rgba(37,99,171,1);
}

#customer p {
  text-align: left !important;
  font-size: 1.2em !important;
  line-height: 150%;
}
