body{
  background: white !important;
  margin: 0 auto;
}

.container {
  margin-left: auto !important;
}

#info-title {
  top: 3em;
  height:600px;
  width: 100%;
  background: linear-gradient(45deg,rgba(37,49,99,1), rgba(40,90,147,0.5)), url('../images/travisatwhiteboard.png') no-repeat center;
  background-size: cover;
}

.walkthruSection {
  margin-top: 8% !important;
}

.walkthruSection h1 {
  font-size: 3em;
  color: rgba(37,99,171,1);
}

.walkthruSection p {
  text-align: left !important;
  font-size: 1.2em !important;
  line-height: 150%;
}

#gsPic{
  height: 350px;
  background: url('../images/schurz_illustrations-01.svg') no-repeat top center;
  background-size: auto;
}

#missionPic{
  height: 350px;
  background: url('../images/schurz_illustrations-05.svg') no-repeat top center;
  background-size: auto;
}

#customerPic{
  height: 350px;
  background: url('../images/schurz_illustrations-04.svg') no-repeat top center;
  background-size: auto;
}

#processPic{
  height: 350px;
  background: url('../images/schurz_illustrations-03.svg') no-repeat top center;
  background-size: auto;
}

#wireframePic{
  height: 350px;
  background: url('../images/schurz_illustrations-02.svg') no-repeat top center;
  background-size: auto;
}
