body{
  background-color: rgb(37,49,99) !important;
  margin: 0 auto;
}

/********** General Styles ***************/

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

.contentSection {
  text-align: center;
  padding: 2% 5%;
}

.contentHead {
  font-size: 4em;
  margin: 0;
  padding: 0.3em;
  font-weight: bold;
  text-align: center;
  color: rgba(37,99,171,1);
}

.row {
  margin: 0 !important;
}

.cd-timeline-content, h2 {
  font-size: 1.5em !important;
}

.cd-timeline-content, p {
  font-size: 1em !important;
}

.lead {
  font-size: 1.5em !important;
}

.left {
  text-align: left;
}

#headerFont {
  margin-top: 30px;
}

/**********Button Properties***************/

#registerButtonTop, .secondaryButton{
  height: 50px;
  width: 175px;
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  text-align: center;
  border: 1.5px solid white;
  margin: 2% 0 5% 30px;
  transition: all 0.5s ease;
}

#registerButtonTop {
  -webkit-animation: fadein 3s 0s 1 linear alternate;
}

@-webkit-keyframes fadein{
  0% {opacity: 0}
  66% {opacity: 0}
  100% {opacity: 1}
}

#registerButtonTop:hover, .secondaryButton:hover{
  background-color: white;
  color: rgb(37,49,99);
}

.tertiaryButton {
  height: 50px;
  width: 175px;
  background-color:  rgb(37,49,99);
  color: white;
  font-size: 1.5em !important;
  text-align: center;
  border: 1.5px solid white;
  transition: all 0.5s ease;
}

.tertiaryButton:hover {
  background-color: white;
  color: rgb(37,49,99);
  border: 1.5px solid rgb(37,49,99);

}

/********** Page Nav ***************/
#programHeader {
  height: 3em;
  width: 100%;
  position:fixed;
  color: rgb(37,49,99);
  z-index: 1;
}

.navLink:hover{
  color: rgb(37, 49, 99) !important;
}

.container{
  margin-left: 0 !important;
}

/********** Page Header ***************/

#main-title{
  top: 3em;
  height:600px;
  width: 100%;
  background: linear-gradient(45deg,rgba(37,49,99,1), rgba(40,90,147,0.5)), url('../images/jamocracy.JPG') no-repeat top center;
  background-size: cover;
}

#title-cont {
  top: 3em;
  padding-top:7em;
  width: 100%;
}

#title-cont h1{
  margin-left: 30px;
  margin-top: 0px;
  color: white;
  /*font-size: 800%;*/
  font-size: 12em;
  text-align: left;
  font-weight:bold;
}


#head-1{
  color: rgba(37,99,171,1) !important;
  -webkit-animation: anim1 1.5s 0.2s 1 linear alternate;
}

@-webkit-keyframes anim1{
  0% {-webkit-transform: translateY(100%);}
  33% {-webkit-transform: translateY(0);}
}

#head-2{
  /*color: red !important;*/
  /*color: rgba(37,99,171,1) !important;*/
  -webkit-animation: anim2 1.5s 0.2s 1 cubic-bezier(.62,.25,.47,.93) alternate;
}

@-webkit-keyframes anim2{
  0% {-webkit-transform: translateX(100%);}
  33% {-webkit-transform: translateX(100%);}
  100% {-webkit-transform: translateX(0);}
}

#head-3{
  color: rgba(37,99,171,1) !important;
  -webkit-animation: anim3 1.5s 0.2s 1 linear alternate;
}

@-webkit-keyframes anim3{
  0% {opacity: 0; -webkit-transform: translateY(100%);}
  33% {opacity: 0; -webkit-transform: translateY(100%);}
  66% {opacity: 1; -webkit-transform: translateY(0);}
}


/*==================About================*/

#about {
  background-color: white;
}


/*==================Need================*/

#info {
  padding: 2% 0;
  background: linear-gradient(45deg,rgba(37,49,99,1), rgba(40,90,147,0.7)),url('../images/commentate.png') no-repeat center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#info button {
  width: 100%;
}

#need, #dev {
  color: white !important;
  height: auto;
}

#need p, #dev p {
  font-size: 1.5em !important;
  min-height: 200px;
}

#need {
  border-right: 2px solid white;
  text-align: justify;
  padding-right: 5%;
}

#dev {
  text-align: justify;
  padding-left: 5%;
}

#need h1 {
  color: white;
  text-align: left;
  margin-bottom: 5%;
}

#dev h1 {
  color: white;
  text-align: right;
  margin-bottom: 5%;

}

.leftButton {
  margin: 0;
  margin-left: 15px;
}

.rightButton {
  margin: 0;
  margin-right: 15px;
}


/*==================Prizes================*/

#prizes {
  background-color: white;
}

.subHead {
  margin-top: 0 !important;
  margin-bottom: 2%;
  color: darkgray;
}

.card{
  background-color: rgba(37,99,171,1);
  color: white;
  height: 350px;
  box-shadow: 2px 2px 4px #888;
  min-height: 250px;
  text-align: center;
  margin: 0 0 4em 0;
  padding-top: 1.2em;
  padding-left: 2em;
  padding-right: 2em;
}

/*
.cardTop, .cardBottom {
  height: 40%;
}
*/

.cardTop {
  /*padding-bottom: 10px;*/
  height: 55%;
  border-bottom: 1px solid white;
}

.cardBottom {
  height: 40%;
  margin-top: 5%;
}


/*==================Timeline================*/

#timeline {
  background: linear-gradient(45deg,rgba(37,49,99,0.8), rgba(40,90,147,0.8)) !important;
}

.cd-container {
  margin-bottom: 0 !important;
}

.cd-date {
  color: gray !important;
  font-weight: bold !important;
}

#timeline p {
  font-size: 1em !important;
}

.timelineHeader {
  color: darkblue !important;
}


#timeline{
  background-color: rgb(37,49,99);
  text-align: center;
}

#timeline h1{
  color: white;
}

.timelineSecondary {
  color: darkgray !important;
}


/********** Contact Section***************/

.contact {
  background-color: white;
}

.contactInner {
  border-bottom: 2px solid lightgray;
  padding-bottom: 2%;
}


/********** Sponsors Section***************/

#sponsors{
  padding: 1em 0 2em 0;
  /*background: url('../images/winner2016.jpg');*/
  background-color: white;
}

/*
#sponsors h1{
  color: white;
}
*/

#sbcs, #schurz{
  background-color: white;
  color: black;
  padding-top: 1em !important;
  display:inline-block;
}

.centerH {
  text-align: center;
}


.whiteboardPic {
  background:url('../images/schurz_logo.png') no-repeat left;
  height: 18em;
  width: 100%;
  background-size: cover;
}

.partner {
  margin-top: 2em;
  margin-bottom: 1em;
  background-size: contain !important;
  background-clip: content-box;
  height: 60px;
}

.schurz {
  height: 100px;
}

.schurz{background: url('../images/schurz_logo.png') no-repeat center;}
.sbcs{background: url('../images/SBCS-Logo-Banner-Big.png') no-repeat center;}
.iPark{background: url('../images/IP_logo.jpg') no-repeat center;}

div.hidden {
    display: none;
}

/**********footer***************/

footer {
  background-color: white;
}

footer h6 {
  color:rgb(37,49,99);
  margin: 0 auto;
}


/**********Responsiveness***************/

@media only screen and (max-width: 1500px) {
  #title-cont h1{
    font-size: 10em;
  }
  #need p, #dev p {
    font-size: 1.4em !important;
  }
}

@media only screen and (max-width: 1200px) {
  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 8px;
  }
  #six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 8px;
  }
  #title-cont h1{
    font-size: 8em;
  }
}

@media only screen and (max-width: 920px) {
  #info h1, #info p, #info a {
    text-align: center;
  }
  #need {
    border-right: none;
  }
  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 7px;
  }
  #six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 7px;
  }
  #title-cont h1{
    font-size: 6em;
  }
}

@media only screen and (max-width: 830px) {
  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 6px;
  }
  #six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 6px;
  }
}

@media only screen and (max-width: 750px) {
  #headerFont{
    font-size: 200%;
    text-align: center;
  }
  #title-cont h1{
    font-size: 3em;
  }
}

@media only screen and (max-width: 550px) {
  #programHeader {
    height: 30em;
  }
  #title-cont h1{
    font-size: 2em;
  }
}
