body{
  background-color: rgb(37,49,99) !important;
  margin: 0 auto;
}

/********** General Styles ***************/

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

.contentSection {
  text-align: center;
  padding: 2% 5%;
}

.contentHead {
  font-size: 4em;
  margin: 0;
  padding: 0.3em;
  font-weight: bold;
  text-align: center;
  color: rgba(37,99,171,1);
}

.row {
  margin: 0 !important;
}

.cd-timeline-content, h2 {
  font-size: 1.5em !important;
}

.cd-timeline-content, p {
  font-size: 1em !important;
}

.lead {
  font-size: 1.5em !important;
}

.left {
  text-align: left;
}


/**********Button Properties***************/

#registerButtonTop, .secondaryButton{
  height: 50px;
  width: 175px;
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  text-align: center;
  border: 1.5px solid white;
  margin: 2% 0 2% 30px;
  transition: all 0.5s ease;
}

#registerButtonTop {
  -webkit-animation: fadein 3s 0s 1 linear alternate;
}

@-webkit-keyframes fadein{
  0% {opacity: 0}
  66% {opacity: 0}
  100% {opacity: 1}
}

#registerButtonTop:hover, .secondaryButton:hover{
  background-color: white;
  color: rgb(37,49,99);
}




/********** Page Nav ***************/
#programHeader {
  height: 3em;
  width: 100%;
  position:fixed;
  color: rgb(37,49,99);
  z-index: 1;
}

.navLink:hover{
  color: rgb(37, 49, 99) !important;
}

.container{
  margin-left: 0 !important;
}

/********** Page Header ***************/

#title{
  top: 3em;
  height:600px;
  width: 100%;
  background: linear-gradient(45deg,rgba(37,49,99,1), rgba(40,90,147,0.5)), url('../images/winner2016.jpg') no-repeat top center;
  background-size: cover;
}

/*#title2{
  top: 3em;
  height:600px;
  width: 100%;
  background: linear-gradient(45deg,rgba(37,49,99,0.5), rgba(40,90,147,0.5)), url('../images/ceil.jpg');
  background-repeat: no-repeat;
  background-size:cover
}*/

#title-cont{
  top: 3em;
  padding-top:7em;
  width: 100%;
}

#title-cont h1{
  margin-left: 30px;
  margin-top: 0px;
  color: white;
  /*font-size: 800%;*/
  font-size: 15em;
  text-align: left;
  font-weight:bold;
}


#head-1{
  color: rgba(37,99,171,1) !important;
  -webkit-animation: anim1 1.5s 0.2s 1 linear alternate;
}

@-webkit-keyframes anim1{
  0% {-webkit-transform: translateY(100%);}
  33% {-webkit-transform: translateY(0);}
}

#head-2{
  /*color: red !important;*/
  /*color: rgba(37,99,171,1) !important;*/
  -webkit-animation: anim2 1.5s 0.2s 1 cubic-bezier(.62,.25,.47,.93) alternate;
}

@-webkit-keyframes anim2{
  0% {-webkit-transform: translateX(100%);}
  33% {-webkit-transform: translateX(100%);}
  100% {-webkit-transform: translateX(0);}
}

#head-3{
  color: rgba(37,99,171,1) !important;
  -webkit-animation: anim3 1.5s 0.2s 1 linear alternate;
}

@-webkit-keyframes anim3{
  0% {opacity: 0; -webkit-transform: translateY(100%);}
  33% {opacity: 0; -webkit-transform: translateY(100%);}
  66% {opacity: 1; -webkit-transform: translateY(0);}
}


/*==================About================*/

#about {
  background-color: white;
}


/*==================Need================*/

#info {
  padding: 2% 0;
  background: linear-gradient(45deg,rgba(37,49,99,1), rgba(40,90,147,0.7)),url('../images/commentate.png') no-repeat center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#need, #dev {
  color: white !important;
  height: 400px;
}

#need p, #dev p {
  font-size: 1.5em !important;
}

#need {
  border-right: 2px solid white;
  text-align: justify;
  padding-right: 5%;
}

#dev {
  text-align: justify;
  padding-left: 5%;
}

#need h1 {
  color: white;
  text-align: left;
  margin-bottom: 5%;
}

#dev h1 {
  color: white;
  text-align: right;
  margin-bottom: 5%;

}

.leftButton {
  position: absolute;
  bottom: 0%;
  left: 0%;
  margin: 0;
  margin-left: 15px;
}

.rightButton {
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 0;
  margin-right: 15px;
}


/*==================Prizes================*/

#prizes {
  background-color: white;
}

/*==================Timeline================*/

#timeline {
  background: linear-gradient(45deg,rgba(37,49,99,0.8), rgba(40,90,147,0.8)) !important;
}

.cd-container {
  margin-bottom: 0 !important;
}

.cd-date {
  color: gray !important;
  font-weight: bold !important;
}

#timeline p {
  font-size: 1em !important;
}
/*==================Past Winners================*/

#pastWinners {
  background-color: white;
}





/********** Globals for Contents***************/

#sponsors{
  text-align: center;
}

#Timeline{
  background-color: rgb(37,49,99);
  text-align: center;
}

#timeline h1{
  color: white;
}

/********** Specific Header Properties for Prize Money***************/

#prizeMoney h2{
  font-size: 18px !important;
  color: rgb(40,90,147);
}
#prizeMoney h3{
  font-size: 3em !important;
  color: white;
}

#sponsors h3{
  font-size: 3em !important;
  color: rgb(40,90,147);
}

#prizeMoney h4{
  font-size: 18px;
  font-style: italic;
}
#prizeMoney h6{
  font-size: 4em !important;
  color: white;
  text-align: center;
}


#prizeMoney h1, #sponsors h1{
  margin-bottom: 0px;
}



#signUp h1, #judgeCriteria h1, #Timeline h1, #prizeMoney h1, .whiteText{
  color: white;
  text-align: center;
  margin-top: 1px;
  font-family: 'Montserrat', serif;
}

/*********Prize Money Category Properties*********/

/*#wrap:after {
  display: block;
  height: 0px;
  clear: both;
  float: none;
}
#wrap div {
  float: left;
  word-break: break-all;
}
#one {
  width: 33%;
  margin-bottom: 2em;
}
#two {
  width: 33%;
    margin-bottom: 2em;
}
#three {
  width: 34%;
    margin-bottom: 2em;
}
#four {
  width: 33%;
  margin-bottom: 2em;
  background-color: white;
}
#five{
  width: 33%;
    margin-bottom: 2em;
      background-color: white;
}
#six {
  width: 34%;
    margin-bottom: 2em;
      background-color: white;
}


#prizeMoney p{
  text-align: center;
  margin: 0;
  color: white;
}*/

/*********PRIZE MONEY Icon Properties*********/

.card{
  background-color: rgba(37,99,171,1);
  color: white;
  box-shadow: 2px 2px 4px #888;
  min-height: 450px;
  text-align: center;
  margin: 0 0 4em 0;
  padding: 2em 0;
}

/*********PRIZE MONEY Icon Properties*********/


.winnerPic {
  background:url('../images/winner2016.jpg') no-repeat left;
  height: 20em;
  width: 100%;
  margin: 0;
  background-size: contain;

}

/*
#picOne {
  width: 30%;
  margin-right: 10px;
  display: inline;
  background-color: white;
}
#picTwo {
  width: 67%;
  margin-bottom: 1px;
    background-color: white;
}*/
/********** Timeline Section***************/
/*
div {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.timeline {

  height: 400px;
}
.timeline .timeline-item {
  width: 100%;
}*/

/********** Sponsors Section***************/

#sponsors{
  padding: 1em 0 2em 0;
  /*background: url('../images/winner2016.jpg');*/
  background-color: white;
}

/*
#sponsors h1{
  color: white;
}
*/

#sbcs, #schurz{
  background-color: white;
  color: black;
  padding-top: 1em !important;
  display:inline-block;
}

.centerH {
  text-align: center;
}


.whiteboardPic {
  background:url('../images/schurz_logo.png') no-repeat left;
  height: 18em;
  width: 100%;
  background-size: cover;
}

.partner {
  margin-top: 2em;
  margin-bottom: 1em;
  background-size: contain !important;
  background-clip:content-box;
  height: 100px;
}

.Schurz{background: url('../images/schurz_logo.png') no-repeat center;}
.SBCS{background: url('../images/SBCS-Logo-Banner-Big.png') no-repeat center;}
.IPark{background: url('../images/IP_logo.jpg') no-repeat center;}
.winner2016{background: url('../images/winner2016.jpg') no-repeat center;}


div.hidden {
    display: none;
}


/********** Adjusting to Responsiveness***************/

/*
@media only screen and (max-width: 1240px) {

  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 10px;
  }

#six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 10px;
  }

}
@media only screen and (max-width: 1200px) {

  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 8px;
  }

#six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 8px;
  }

}*/
/*@media only screen and (max-width: 920px) {

  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 7px;
  }

#six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 7px;
  }

}
@media only screen and (max-width: 830px) {

  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 6px;
  }

#six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 6px;
  }

}


@media only screen and (max-width: 950px) {

  #programHeader {
    height: 30em;
  }

  #headerFont{

    font-size: 250%;
    text-align: center;

  }

}

@media only screen and (max-width: 750px) {

  #programHeader {
    height: 25em;
  }
  #headerFont{

    font-size: 200%;
    text-align: center;

  }


}

@media only screen and (max-width: 550px) {

  #programHeader {
    height: 30em;
  }

}*/



/*.winner {
  margin-top: 2em;
  margin-bottom: 1em;
  background-size: cover !important;
  background-clip:content-box;
  height: 280px;
}



#winnerText{
  font-size: 20px;
font-family: 'Vollkorn', serif;
color: rgb(40,90,147); !important;
}
#winnerText a{
text-decoration: none;
}*/
