body{
  background-color: rgb(37,49,99) !important;
  /*background: linear-gradient(blue, red) !important;*/
}

/********** General Styles ***************/

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}


/********** Page Header ***************/
#programHeader {
  height: 3em;
  /*background-color: rgb(37,49,99);
  color: white;*/
  background-color: white;
  color: rgb(37,49,99);
  /*padding: 1em 0 1px 0;*/
}

#title{
  height:auto;
  width: 100%;
  /*background: linear-gradient(45deg,rgb(37,49,99), red);*/

}

#title-cont{
  padding-top: 20px;
  height: auto;
  width: 100%;
  background: linear-gradient(45deg,rgba(37,49,99,0.8), rgba(40,90,147,0.8)), url('images/winner2016.jpg');
}

#title-cont h1{
  margin-left: 30px;
  margin-top: 0px;
}

#cmn-video-demo3__container{
  margin-bottom: 0 !important;
  height: auto;
}


/********** Page Header Text ***************/
#headerFont{
  color: white;
  font-size: 300%;
  text-align: center;

}

/*h1{
  font-family: 'maaxbold',sans-serif;
  font-weight:lighter;
}*/

#headerFont h1{
  color: white;
  font-size: 200%;
  text-align: left;
  font-weight:bold;
  font-family: 'Alright Sans', sans-serif;
}


#about, #sponsors, #Need, #Registration, #Prize, #pastWinners{
  padding: 2% 10%;
  text-align: left;
  font-family: 'Vollkorn', serif;
}

#about, #sponsors,  #Prize,  #pastWinners{
  background-color: white;

}

#Need, #Registration{
  background-color: rgb(37,49,99);
}

/********** H1 tag Properties***************/

#about h1, #sponsors h1, #Prize h1,  #pastWinners h1{
  font-size: 4em;
  font-family: 'Vollkorn', serif;
  color:rgb(37,49,99);
  text-align: center;
  margin-top: 1px;
}

#Need h1, #Registration h1{
  font-size: 4em;
  font-family: 'Vollkorn', serif;
  color:white;
  text-align: center;
  margin-top: 1px;
}

#about p, #Prize p,  #pastWinners p{
  color: rgb(40,90,147);
}

 #Registration p, #Need p{
  color: white;
}

marquee{
  margin:0 0;
  padding:0;
}

/********** P tag Properties***************/

#about p, #sponsors p, #Registration p, .whiteText p, #Need p,  #pastWinners p{
  font-size: 24px;
  text-align: left;
}
/*

/********** Registration Button Properties***************/



#registerButtonTop{
  height: 50px;
  width: 175px;
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  margin: 2% 0 2% 30px;
  transition: all 0.5s ease;

}

#registerButtonTop:hover{
  background-color: white;
  color: rgb(37,49,99);

}


#registerButton{
  height: 140px;
  width: 260px;
  background-color: rgb(40,90,147);
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

#registerButton:hover{
  background-color: white;
  color: rgb(37,49,99);

}


/********** More Info Button Properties***************/
/*
#myBtn{
  height: 60px;
  width: 180px;
  background-color: rgb(40,90,147);
  color: white;
  font-size: 18px;
}

#myBtn:hover{
  height: 60px;
  width: 180px;
  color: rgb(40,90,147);
  background-color: white;
}*/



/********** Globals for Contents***************/

#sponsors{
  text-align: center;
}

#Timeline{
  background-color: rgb(37,49,99);
  text-align: center;

}

/********** Specific Header Properties for Prize Money***************/

/*#prizeMoney h2{
  font-size: 18px !important;
  color: rgb(40,90,147);
}
#prizeMoney h3{
  font-size: 3em !important;
  color: white;
}

#sponsors h3{
  font-size: 3em !important;
  color: rgb(40,90,147);
}

#prizeMoney h4{
  font-size: 18px;
  font-style: italic;
}
#prizeMoney h6{
  font-size: 4em !important;
  color: white;
  text-align: center;
}*/


#prizeMoney h1, #sponsors h1{
  margin-bottom: 0px;
}



#signUp h1, #judgeCriteria h1, #Timeline h1, #prizeMoney h1, .whiteText{
  color: white;
  text-align: center;
  margin-top: 1px;
  font-family: 'Vollkorn', serif;
}


/*********Prize Money Category Properties*********/

/*#wrap:after {
  display: block;
  height: 0px;
  clear: both;
  float: none;
}
#wrap div {
  float: left;
  word-break: break-all;
}
#one {
  width: 33%;
  margin-bottom: 2em;
}
#two {
  width: 33%;
    margin-bottom: 2em;
}
#three {
  width: 34%;
    margin-bottom: 2em;
}
#four {
  width: 33%;
  margin-bottom: 2em;
  background-color: white;
}
#five{
  width: 33%;
    margin-bottom: 2em;
      background-color: white;
}
#six {
  width: 34%;
    margin-bottom: 2em;
      background-color: white;
}


#prizeMoney p{
  text-align: center;
  margin: 0;
  color: white;
}*/

/*********PRIZE MONEY Icon Properties*********/

.fa-heart:hover{
  font-size: 100px;
  color: red !important;
  text-shadow: 2px 2px 4px #000000;
}

/*********TIMELINE Properties*********/

#Timeline h1{
  font-size: 4em;
  padding: 0;
  margin-top: 1px;
}

.container ul{
  font-size: 20px;
  font-family: 'Vollkorn', serif;
}

.container {
  background:rgb(37,49,99);
  width:90%;
  margin:0 auto;
  overflow:auto;
  padding:2%;
  width: auto !important;
}
.left-content {
  float:left;
  display:block;
  width:20%;
  padding:1% 1%;
  color: white;
  font-family: 'Vollkorn', serif;
}
.right-content {
  float:left;
  display:block;
  width:80%;
  padding:1% 1%;
  color: white;
  font-family: 'Vollkorn', serif;
}
.left-content {
  border-right:7px dotted white;
  text-align:right;
}
.right-content p {
  margin:40px 0 150px;
  font-size: 22px;
}

.left-content p {
  margin:40px 0 150px;
  font-size: 22px;
  font-weight: bold;
}
.container p {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7 ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}


.winnerPic {
  background:url('./images/winner2016.jpg') no-repeat left;
  height: 20em;
  width: 100%;
  margin: 0;
  background-size: contain;

}

/*
#picOne {
  width: 30%;
  margin-right: 10px;
  display: inline;
  background-color: white;
}
#picTwo {
  width: 67%;
  margin-bottom: 1px;
    background-color: white;
}*/
/********** Timeline Section***************/

div {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.timeline {

  height: 400px;
}
.timeline .timeline-item {
  width: 100%;
}

/********** Sponsors Section***************/

#sponsors{
  padding: 1em 0 2em 0;
}

#sbcs, #schurz{
  background-color: white;
  color: black;
  padding-top: 1em !important;
  display:inline-block;
}

.centerH {
  text-align: center;
}


.whiteboardPic {
  background:url('../images/schurz_logo.png') no-repeat left;
  height: 18em;
  width: 100%;
  background-size: cover;
}


/********** Adjusting to Responsiveness***************/


@media only screen and (max-width: 1240px) {

  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 10px;
  }

#six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 10px;
  }

}
@media only screen and (max-width: 1200px) {

  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 8px;
  }

#six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 8px;
  }

}
@media only screen and (max-width: 920px) {

  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 7px;
  }

#six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 7px;
  }

}
@media only screen and (max-width: 830px) {

  #one, #two, #three, #four, #five{
    width: 33%;
    margin-bottom: 2em;
    font-size: 6px;
  }

#six{
    width: 34%;
    margin-bottom: 2em;
    font-size: 6px;
  }

}


@media only screen and (max-width: 950px) {

  #programHeader {
    height: 30em;
  }

  #headerFont{

    font-size: 250%;
    text-align: center;

  }

}

@media only screen and (max-width: 750px) {

  #programHeader {
    height: 25em;
  }
  #headerFont{

    font-size: 200%;
    text-align: center;

  }


}

@media only screen and (max-width: 550px) {

  #programHeader {
    height: 30em;
  }

}



/*.winner {
  margin-top: 2em;
  margin-bottom: 1em;
  background-size: cover !important;
  background-clip:content-box;
  height: 280px;
}



#winnerText{
  font-size: 20px;
font-family: 'Vollkorn', serif;
color: rgb(40,90,147); !important;
}
#winnerText a{
text-decoration: none;
}*/

.Partner {
  margin-top: 2em;
  margin-bottom: 1em;
  background-size: contain !important;
  background-clip:content-box;
  height: 100px;
}
  .Schurz{background: url('./images/schurz_logo.png') no-repeat center;}
  .SBCS{background: url('./images/SBCS-Logo-Banner-Big.png') no-repeat center;}
  .IPark{background: url('./images/IP_logo.jpg') no-repeat center;}
  .winner2016{background: url('./images/winner2016.jpg') no-repeat center;}

/*.row{
  margin-right: 0px !important;
}*/

div.hidden {
    display: none;
}


.row{
  width: 100%;
}
.card{
width: 350px;
border: 1px solid rgb(40,90,147);
box-shadow: 2px 2px 4px #888;
border-top: 10px solid rgb(40,90,147);;
min-height: 450px;
padding-: 10px;
margin: 10px;
text-align: center;

}

.card h1{
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -70px;
  color: rgb(40,90,147);
}

.card h3{
  font-weight: bolder;
  color: rgb(40,90,147);
    font-size: 1.8em;
}

.card h4{
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.4em;
    color: rgb(40,90,147);
      font-weight: bold;
}

.card h6{  /*filler text*/
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.4em;
    color: white;
      font-weight: bold;
}

.card p{
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.4em;
    color: rgb(40,90,147);
}
