/* ============================================================
  DEMO 3 - BACKGROUND VIDEO
============================================================ */
#cmn-video-demo3__container {
  position: relative;
  margin: 0 0 20px 0;
  height: 300px;
  background-color: rgb(37,49,99);
  overflow: hidden;
}

#cmn-video-demo3__video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 600px;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#cmn-video-demo3__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 80px 20px;
  text-align: center;
}
#cmn-video-demo3__content h2,
#cmn-video-demo3__content p,
#cmn-video-demo3__content a {
  color: #fff;
  text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.6);
}
#cmn-video-demo3__content h2 {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
#cmn-video-demo3__content p {
  margin-bottom: 40px;
}
#cmn-video-demo3__content a {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  font-family: "Roboto Slab", serif;
  border: solid 1px #fff;
  -webkit-transition: background 0.3s, color 0.3s, text-shadow 0.3s;
  -moz-transition: background 0.3s, color 0.3s, text-shadow 0.3s;
  -o-transition: background 0.3s, color 0.3s, text-shadow 0.3s;
  transition: background 0.3s, color 0.3s, text-shadow 0.3s;
}
/*#cmn-video-demo3__content a:hover {
  background-color: #fff;
  color: #787878;
  text-shadow: none;
}*/

@media all and (min-width: 600px) {
  #cmn-video-demo3__container {
    height: 480px;
  }

  #cmn-video-demo3__video {
    width: 1024px;
  }

  #cmn-video-demo3__content {
    padding: 160px 20px;
  }
  #cmn-video-demo3__content h2 {
    font-size: 42px;
  }
  #cmn-video-demo3__content p,
  #cmn-video-demo3__content a {
    font-size: 18px;
  }
}
@media all and (min-width: 1024px) {
  #cmn-video-demo3__container {
    height: 600px;
  }

  #cmn-video-demo3__video {
    width: 100%
  }

  #cmn-video-demo3__content {
    padding: 200px 20px;
  }
  #cmn-video-demo3__content h2 {
    font-size: 54px;
  }
  #cmn-video-demo3__content p,
  #cmn-video-demo3__content a {
    font-size: 24px;
  }
}
